.choose {
    padding-top: 120px;

    &_block {
        background-color: #000;
        padding: 80px 24px 87px 24px;
    }

    &_number {
        color: $paleOrange ;
        font-family: 'Fraunces';
        font-size: 72px;
        font-weight: 900;
        line-height: 72px;
        margin-bottom: 24px;
    }
    &_item{
        padding-left: 24px;
        padding-right: 24px;
        margin-bottom: 56px;
        text-align: center;
    }
    &_title{
        color:$lightCream;
        font-family: 'Fraunces';
        font-size: 28px;
        font-weight: 900;
        line-height: 32px;
        margin-bottom: 24px;
      
    }
    &_text {
        @include text ( #ffffff);
        opacity: 0.8;
    }

}
@media screen  and (min-width:768px) {
    .choose{
        &_block{
            padding: 97px 39px 70px 40px;
        }
        &_list{
            margin-top: 67px;
            display: flex;
            justify-content: space-between;
            gap: 10px;
        }
        &_item{
            text-align: left;
        }
        &_text{
            max-width: 223px;
        }
        &_title{
            margin-top: 42px;
            font-size: 28px;
            line-height: 32px;
            margin-bottom: 38px;
        }
        &_span:nth-child(1)::before{

            
            content: "";
            margin-right: 350px;
            width: 40px;
            border:1px solid #ffff;
            border-radius: 20px;
            background-color: #fff;
        }
        &_span:nth-child(2)::before{
            content: "";
            margin-right: 350px;
            width: 10px;
            height: auto;
            border:1px solid #ffff;
            border-radius: 50%;
            background-color: #fff;
        }
        &_span:nth-child(3)::before{
            content: "";
            width: 10px;
            height: auto;
            border:1px solid #ffff;
            border-radius: 50%;
            background-color: #fff;
        }
    }
}
@media screen  and (min-width:992px) {
    
    .choose_title{
        margin-bottom: 42px;
        margin-top: 38px;
    }
}