.hero{
    padding-top: 40px;
    &_block{
        text-align: center;
        padding-top: 101px;
        padding-bottom: 136px;
        padding-left: 24px;
        padding-right: 24px;
        background-repeat: no-repeat;
        background-image: url("/img/hero-mobile.jpeg");
        background-size: cover;
        border-radius: 10px;
    }
    &_title{
        color: $lightCream;
        font-family: 'Fraunces';
        font-size: 40px;
        font-weight: 900;
        line-height: 40px;
        margin-bottom: 22px;
    }
    &_text{
        @include text (#fff)
    }
}

@media screen and (min-width:768px){
    .hero{
        &_block{
            text-align: left;
            padding-left: 58px;
            padding-top: 127px;
            padding-bottom: 126px;
            background-image: url("/img/hero-tablet.jpeg");
        }
        &_content{
            max-width: 398px;
        }

        &_title{
            font-size: 48px;
            line-height: 48px;
        }
    }
}

@media screen and (min-width:992px) {
    .hero{
        &_block{
            padding-left: 86px;
            padding-top: 134px;
            padding-bottom: 134px;
            background-image: url("/img/hero-desktop.jpeg");
        }
        &_title{
            font-size: 72px;
            line-height: 72px;
        }
        &_content{
            max-width: 486px;
        }
    }
}